body{
    background: #f6f6f6;
}
.container {
    width: 100%;
    height: auto;
 
}

.login-form {

    width: 40%;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    background: white;
}
.login-logo {
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
input[type=submit] {
    background: linear-gradient(to right, #e53935, #e35d5b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}